<%- include("./partials/header") %>

<h1> bikes </h1>

<% motorbikes.forEach(function(a){ %>
<li> <%= a %> </li>

<% }); %>


<form action="/addbike" method="post">

    <input type="text" name="bykie" placeholder="bikeeeeeee">
    <button> vrommmmm</button>
</form>


<%- include("./partials/footer") %>